<!DOCTYPE html>
<html>
	<head>
		<title><%= full_title(yield(:title)) %></title>
		<%= csrf_meta_tags %>

		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
		<%= render 'layouts/shim' %>

	</head>

	<body>
		<%= render 'layouts/header' %>
		<header class="navbar navbar-fixed-top navbar-inverse">
			<div class="container">
				<%= link_to "sample app", '#', id: "logo" %>
				<nav>
					<ul class="nav navbar-nav navbar-right">
						<li><%=link_to "Home", '#' %></li>
						<li><%=link_to "Help", '#' %></li>
						<li><%=link_to "Log in", '#' %></li>
					</ul>
				</nav>
			</div>
		</header>
		<div class="container">
			<% flash.each do |message_type, message| %>
				<div class="alert alert-<%= message_type %>"><%= message %></div>
			<% end %>
			<%= yield %>
			<%= render 'layouts/footer' %>
			<%= debug(params) if Rails.env.development? %>
		</div>
	</body>
</html>
